server:
local-data: "lancache-origin. A ${LANCACHE_IP}"
local-data: "akamai.cdn.ea.com. A ${LANCACHE_IP}"
local-data: "lvlt.cdn.ea.com. A ${LANCACHE_IP}"
local-data: "origin-a.akamaihd.net.edgesuite.net. A ${LANCACHE_IP}"
local-data: "origin-a.akamaihd.net. A ${LANCACHE_IP}"
