server:
local-data: "lancache-riot. A ${LANCACHE_IP}"
local-zone: "l3cdn.riotgames.com." redirect
local-data: "l3cdn.riotgames.com. A ${LANCACHE_IP}"
local-data: "riotgamespatcher-a.akamaihd.net. A ${LANCACHE_IP}"
local-data: "riotgamespatcher-a.akamaihd.net.edgesuite.net. A ${LANCACHE_IP}"
local-data: "riotgamespatcher-b.akamaihd.net. A ${LANCACHE_IP}"
local-data: "riotgamespatcher-b.akamaihd.net.edgesuite.net. A ${LANCACHE_IP}"
