server:
local-data: "lancache-winupdate. A ${LANCACHE_IP}"
local-zone: "windowsupdate.com." redirect
local-data: "windowsupdate.com. A ${LANCACHE_IP}"
local-zone: "dl.delivery.mp.microsoft.com." redirect
local-data: "dl.delivery.mp.microsoft.com. A ${LANCACHE_IP}"

